ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:inline;
  }
li {
    float:left;
}
li a,#signin {
    display: block;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
    font-family: arial;
    font-size:14px;
}

#signin{
    background-color: #4684EC;
    border:none;
    color:white;
}

#right {
    float:right;
}

#left {
    float:left;
}

.centered {
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%,-50%);
}


.middle {
    position: relative;
    border: solid;
    border-color:white;
    height:200px;
    width:400px;
    padding:10px;
}

#logo{
    margin-left:50%;
    transform:translate(-50%);
    padding-bottom:5px;
}

#searchbar {
    display:block;
    padding-bottom:3px;
    border-radius: 200px;
    border: 1px solid #dedede;
    box-shadow: 1px 1px 1px 1px #eaeaea;
}

input{
    width:98%;
    height:20px;
}

.mainbuttons{
    display:inline-block;
}

#lucky,#googlesearch{
    display:block;
    padding-bottom:3px;
    border-radius: 4px;
    border: none;
    background-color: #ebebeb;
    color: #5d5858;
    padding:7px;
}


#lucky{
    right:22%;
    position:absolute;
}

#googlesearch{
    left:22%;
    position:absolute;
}
  